<!DOCTYPE html>
<html>
  <head>
    <title>UnnamedXAer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Demo App</h1>
    <p>Welcome to UnnamedXAer's demo app.</p>
	<p>Page loaded at: <%= loadedAt %></p>
	<p>Server started at: <%= serverStartAt %></p>
  </body>
</html>
